body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}
#gwviewer {
	padding: 1em;
	background: #000;
	color: white;
}
#gwviewer button {
	border: 0px;
	border-radius: 0px;
	padding: 0.25em 0.5em;
	margin: 0 0.25em 0.25em 0;
	font-size: 1em;
	cursor: pointer;
	background: #5d2f4f;
	color: #fff;
}
#gwviewer .waves {
	max-width: 100%;
	overflow-x: auto;
	margin-bottom: 1em;	
}
#gwviewer button:hover { background: rgba(93,47,79,0.85); }
#gwviewer button:last-child { margin-right: 0px; }
#gwviewer button.selected { background: #fff; color: black; }
#gwviewer ol { list-style: none; margin: 0px; padding: 0px; }
#gwviewer ol li .gw-about { display: none; }
pre { max-width: 100%; overflow-x: auto; }