/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* End of reset */


body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	background-color: black;
	color: white;
}

#gwviewer {
	padding: 0em;
	background: #000;
	color: white;
}
#gwviewer .waves {
	max-width: 100%;
	overflow-x: auto;
	margin-bottom: 1em;	
}
#gwviewer ol { list-style: none; margin: 0px; padding: 0px; }
#gwviewer ol li .gw-about { display: none; }
pre { max-width: 100%; overflow-x: auto; }
a, a:visited { color: #d2bdc7; }

.hamburger {
	cursor: pointer;
	display: block; 
	width: 3em;
	height: 3em;
	position: fixed;
	left: 0px;
	top: 0px;
	font-size: 1em;
	margin: 0px;
}
label.hamburger {
	z-index: 1;
	background: #666666;
	border-right: 1px solid #888;
	box-sizing: border-box;
}
label.hamburger .nv {
	display: none;
}
input.hamburger {
	z-index: 1005;
	opacity: 0.01;
}
label.hamburger:after {
	position: absolute;
	padding: 0.25em 0;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	content:"\2261";
	font-size: 2em;
	text-align: center;
	line-height: 1em;
}
input.hamburger:hover ~ label.hamburger,
input.hamburger:checked ~ label.hamburger {
	background: #666666;
}
input.hamburger:checked ~ menu > .holder {
	left: 0px;
}
input.hamburger:checked ~ #main, input.hamburger:checked ~ menu, input.hamburger:checked ~ footer {
	width: 100%;
}
.hamburger, menu .holder {
	transition: left 0.3s ease-in;
}

#heading {
	background: #35272f;
	background-image: url('purple_page_background.jpg');
	background-position: top center;
	color: white;
	text-align: right;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}
#heading h1 {
	font-size: 1em;
	line-height: 3em;
	padding: 0em 0.5em;
	text-shadow: 0px 2px 5px #000;
	font-weight: bold;
}
#heading h1 span { font-size: 1.2em; }
.version { margin-left: 0.5em; }

menu > .holder {
	border-right: 1px solid #888;
	position: absolute;
	background: rgba(68,68,68,0.8);
	top: 0px;
	display: block;
	position: absolute;
	bottom: 0px;
	min-height: 100%;
	z-index: 10;
	color: white;
}
/*menu .holder .menu { padding-top: 3em; }*/
menu h1 { position: fixed; z-index: 10; top: 0px; width: 360px; display: block; border-right: 1px solid #888; }
menu h1, menu h2, menu h3 { height: 3em; line-height: 2.5em; }
menu h1, menu h2, menu h3, menu p { font-size: 1em; padding: 0.25em 1em; }
menu p { padding: 1em; line-height: 1.25em; }
#heading, menu h1, menu section { border-bottom: 1px solid #888; }
menu h1, menu h2 { background-color: #666666; }
menu h3, menu p { background-color: #444444; }
menu h3, menu .top { border-top: 1px solid #888; }
menu .expander { list-style: none; padding-left: 0px; height: 0px; overflow: hidden; transition: height 0.5s ease-in;  }
menu h2, menu h3, menu button { cursor: pointer; position: relative; }
menu .expandable { user-select: none; -moz-user-select: none; -webkit-user-select: none; }
menu .expandable:after {
	content: "";
	width: 0.5em;
	height: 0.5em;
	border: 0px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	position: absolute;
	display: inline-block;
	right: 0em;
	top: 50%;
	transform-origin: center center;
	transform: translate3d(-1em,-25%,0) rotate(135deg);
	transition: transform 0.5s ease-in;
}
menu .collapse > .expandable:after {
	transform: translate3d(-1em,-25%,0) translate3d(0,-0.25em,0) rotate(-45deg);
}
menu button {
	width: 100%;
	padding: 0.25em 0.5em;
}
menu button, menu .row {
	text-align: left; 
	border: 0px;
	border-radius: 0px;
	margin: 0;
	font-size: 1em;
	line-height: 2em;
	background: #444444;
	color: #efefef;
}
menu .row input[type=checkbox] { display: inline-block; float: left; height: 2em; width: 2em; margin: 0.75em 0.75em 0.25em 1em; }
menu .row label { line-height: 2.5em; display: block; cursor: pointer; }
menu .range > div { line-height: 2.5em; padding-left: 1.5em; padding-right: 1.5em; padding-top: 1em; text-align: center; }
menu .range .min, menu .range .max { display: inline-block; }
menu .range .min { margin-left: 1em; }
menu .range .slider { display: block; width: auto; margin: 0 0.25em; }
menu button:last-child { margin-right: 0px; }
menu button:hover, menu button.selected, menu label:hover { background: #634d72; color: white; }/*#5d2f4f*/
menu ol { list-style: none; }
menu ol li button { padding-left: 1em; }
menu nav a {
	text-align: right;
}
#main { padding-top: 3em; }
menu, footer, #main {
	width: 100%;
	transition: margin-left 0.3s ease-in;
}

input.hamburger:checked, input.hamburger:checked + label.hamburger {
	left: 360px;
}
input.hamburger:checked ~ menu, input.hamburger:checked ~ footer {
	margin-left: 360px;
}
menu > .holder {
	left: -360px;
	width: 360px;
	position: fixed;
	height: 100%;
	overflow-y: auto;
}

.noUi-target {
	border-radius: 0px;
}
.noUi-connect {
	background: #634d72;
}
.noUi-background {
	background: #222;
}
.noUi-handle {
	border-radius: 2px;
}

@media only screen and (max-width: 500px) {
	input.hamburger:checked, input.hamburger:checked + label.hamburger {
		left: 75%;
	}
	/*input.hamburger:checked ~ #main, input.hamburger:checked ~ menu, input.hamburger:checked ~ footer {
		margin-left: 75%;
	}*/
	menu > .holder {
		left: -75%;
		width: 75%;
	}
}